<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Factura</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>
<br>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="nombreProducto">Nombre producto</label>
          <input type="text" class="form-control" id="nombreProducto" name="nombreProducto"
            formControlName="nombreProducto">
        </div>

        <div class="form-group">
          <label for="precioProducto">Precio del producto</label>
          <input type="number" class="form-control" id="precioProducto" name="precioProducto"
            formControlName="precioProducto">
        </div>

        <button type="submit" class="btn btn-primary" (click)="guardarProducto()">Guardar</button>

        <button type="submit" class="btn btn-primary" (click)="facturarProducto()">Facturar</button>
      </form>
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of listaProductos">{{item.nombreProducto}}--{{item.precioProducto}}
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">iva:{{iva}}</li>
        <li class="list-group-item">total:{{total}}</li>
      </ul>
    </div>
  </div>
</div>